<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book your place!</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <p class="bookedMessage">
        The following person has been booked a place for the conference
        successfully:
      </p>
      <p>Name: <%= name %></p>
      <p>Email: <%= email %></p>
      <p>Age: <%= age %></p>
      <p>Date of birth: <%= birthDate %></p>
      <p>Mobile Phone: <%= phone %></p>
      <p class="bookedMessage">Thanks for registration! Happy to see you!</p>
    </div>
  </body>
</html>
